/* profil styles */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


#perfil-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 2.5px;
}

#perfil-img {
  border-top-left-radius: 50%;   
  width: 150px;
  /*max-width: 100%;*/
  height: auto;
  align-self: center;
}

#perfil {
  border: 1px solid black;
  box-shadow: 10px 10px 5px #7f7f7f;
  padding: 10px;
}

#perfil h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: orange;
}

i {
  font-size: 1.1m;
}

tr {
  vertical-align: top;
  min-height: 20px;
}

tr td, p, nav > ul > li {
  font-size: 1em;
}

tr td:nth-of-type(2) {
  padding-left: 50px;
}

.bold {
  font-weight: bold;
}

#email {
  text-decoration: none;
  color: orange;
}

#email:hover {
  text-decoration: underline;
  color: red;
}

/* index styles (Directorio)*/ 

::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  
}

header {
  width: 100%;
  background-color: white;
}

nav ul {
  background-color: #87b1ef;
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0;
  font-size: 1.5em;
}

#directorio-section {
  width: 90%;
  padding: 20px;
}

.contenedor_directorio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
  padding-bottom: 3%;   
  margin: 0;
  list-style-type: none;
}


.entrada_directorio {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f5f7f9;
  box-shadow: 5px 5px 5px #7f7f7f;
  color: #87b1ef;
  transition: all 0.3s ease-in-out;
}

.entrada_directorio:hover {
  transform: scale(1.1) rotate(5deg);
  background-color: #99c5dd;
  cursor: pointer;
}

.entrada_directorio img{
    max-width: 100%;
    height: auto;
}

/* 
.uno img {
  width: 75%;
  height: 50%;
  object-fit: cover;
} */

footer {
  bottom: 0;
  background-color: #87b1ef;
  color: black;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto;
}


/* Dispositivos móviles */
@media (min-width: 320px) and (max-width: 480px) {
  .contenedor_directorio {
    grid-template-columns: 1fr;
  }
}
/* iPads y tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .contenedor_directorio {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Pantallas pequeñas, ordenadores portátiles */
@media (min-width: 769px) and (max-width: 1024px) {
}
/* Pantallas grandes, ordenadores de escritorio */
@media (min-width: 1025px) and (max-width: 1200px) {
}